# Eclipse  #
###################

*.launch
.classpath
.project
.settings/
target/
bin/
test-output/
maven-eclipse.xml
.factorypath

# Theia #
##################
.theia/

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

.vscode/